In [1]:
import pandas as pd
import pickle

In [2]:
#pickle_in = open("xx_yy.pickle", "rb")
pickle_in101 = open("C:\\Users\\Admin\\PycharmProjects\\CrossCulturalSentimentAnalysis\\LDA_04_Fitting_fittedData_07092020_113759.data", "rb")
sample_data = pickle.load(pickle_in101)

In [3]:

unpickled_df = pd.DataFrame(sample_data)

In [4]:
unpickled_df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,Org,OrgSector,RverMonthYear,RverReviewer,RverPosition,RverLoc,RverRecom,RvReviewAbout,RvScore,RvComment,...,topic12,topic13,topic14,topic15,topic16,topic17,topic18,topic19,topic20,topic21
1,Instone Real Estate Group AG,Immobilien,May 2020,1,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung im Bereich Fin...,Empfohlen,Overall,4.9,Top Arbeitgeber mit vielen Benefiz Trans...,...,0.03125,0.03125,0.34375,0.03125,0.03125,0.03125,0.03125,0.03125,0.03125,0.03125

In [5]:
unpickled_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20998 entries, 0 to 20997
Data columns (total 32 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20998 non-null  object
 1   1       20998 non-null  object
 2   2       20998 non-null  object
 3   3       20998 non-null  object
 4   4       20998 non-null  object
 5   5       20998 non-null  object
 6   6       20998 non-null  object
 7   7       20998 non-null  object
 8   8       20998 non-null  object
 9   9       20998 non-null  object
 10  10      20998 non-null  object
 11  11      20998 non-null  object
 12  12      20998 non-null  object
 13  13      20998 non-null  object
 14  14      20998 non-null  object
 15  15      20998 non-null  object
 16  16      20998 non-null  object
 17  17      20998 non-null  object
 18  18      20998 non-null  object
 19  19      20998 non-null  object
 20  20      20998 non-null  object
 21  21      20998 non-null  object
 22  22      20998 non-null  object
 23  23      20998 non-null  object
 24  24      20998 non-null  object
 25  25      20998 non-null  object
 26  26      20998 non-null  object
 27  27      20998 non-null  object
 28  28      20998 non-null  object
 29  29      20998 non-null  object
 30  30      20998 non-null  object
 31  31      20998 non-null  object
dtypes: object(32)
memory usage: 5.1+ MB

In [6]:
unpickled_df.columns

RangeIndex(start=0, stop=32, step=1)

In [7]:
# rename columns to header (first row in dataframe)
new_columns=unpickled_df.loc[0]

In [8]:
new_columns

0               Org
1         OrgSector
2     RverMonthYear
3      RverReviewer
4      RverPosition
5           RverLoc
6         RverRecom
7     RvReviewAbout
8           RvScore
9         RvComment
10           topic0
11           topic1
12           topic2
13           topic3
14           topic4
15           topic5
16           topic6
17           topic7
18           topic8
19           topic9
20          topic10
21          topic11
22          topic12
23          topic13
24          topic14
25          topic15
26          topic16
27          topic17
28          topic18
29          topic19
30          topic20
31          topic21
Name: 0, dtype: object

In [9]:
unpickled_df.columns = new_columns

In [10]:
unpickled_df = unpickled_df[1:]

In [11]:
unpickled_df['RvComment'][1]

' Top Arbeitgeber mit vielen Benefiz      Transparente und regelmäßige Infos und Austausch mit dem Vorstand   '

In [12]:
serLen = unpickled_df['RvComment'].size

In [13]:
serLen

20997

In [19]:
sentiment_df=pd.read_pickle('sentiment_score_reviews.data')

In [20]:
sentiment_df['summation']= sentiment_df['score']*sentiment_df['topic21']+sentiment_df['score']*sentiment_df['topic20']

In [25]:
sentiment_df.head(2)

,Org,OrgSector,RverMonthYear,RverReviewer,RverPosition,RverLoc,RverRecom,RvReviewAbout,RvScore,RvComment,...,topic14,topic15,topic16,topic17,topic18,topic19,topic20,topic21,score,summation
1,Instone Real Estate Group AG,Immobilien,May 2020,1,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung im Bereich Fin...,Empfohlen,Overall,4.9,Top Arbeitgeber mit vielen Benefiz Trans...,...,0.34375,0.03125,0.03125,0.03125,0.03125,0.03125,0.03125,0.03125,0.3266,0.0204125

In [23]:
summat=0
average_var = 0
for i in range(0, 22):
    col_name='topic'+str(i)
    sum0=sentiment_df['score']*sentiment_df[col_name]
    summat=summat+sum0
    print('sum0', sum0)
    
print(summat)

sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.112269
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
1    0.3266
dtype: object

In [18]:
col_name=[]
for i in range(0, 23):
    col_name.append('topic'+str(i))
print("'",col_name,"',")

' ['topic0', 'topic1', 'topic2', 'topic3', 'topic4', 'topic5', 'topic6', 'topic7', 'topic8', 'topic9', 'topic10', 'topic11', 'topic12', 'topic13', 'topic14', 'topic15', 'topic16', 'topic17', 'topic18', 'topic19', 'topic20', 'topic21', 'topic22'] ',

In [35]:
u = sentiment_df.iloc[10:31]
v = sentiment_df[['score']]

In [36]:
u

Empty DataFrame
Columns: [Org, OrgSector, RverMonthYear, RverReviewer, RverPosition, RverLoc, RverRecom, RvReviewAbout, RvScore, RvComment, topic0, topic1, topic2, topic3, topic4, topic5, topic6, topic7, topic8, topic9, topic10, topic11, topic12, topic13, topic14, topic15, topic16, topic17, topic18, topic19, topic20, topic21, score, summation]
Index: []

[0 rows x 34 columns]