In [56]:
import pandas as pd
import pickle

In [57]:
#pickle_in = open("xx_yy.pickle", "rb")
pd.set_option('display.max_columns', None)
pickle_in101 = open("Data\\cleaned_18Topics.df", "rb")
sample_data = pickle.load(pickle_in101)

In [58]:

unpickled_df = pd.DataFrame(sample_data)

In [59]:
unpickled_df.head(10)

,Org,OrgSector,RverMonthYear,RverReviewer,RverPosition,RverLoc,RverRecom,RvReviewAbout,RvScore,RvComment,RvScoreWorkAtmosphere,RvScoreCohesionAmongColleagues,RvScoreEqualRights,RvScoreDealingWithOlderColleagues,RvScoreEnvironmentalSocialAwareness,Corona1,Corona2,Corona3,RvScoreWorkLifeBalance,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,topic16,topic17,forTSNEYear,forTSNECity
1,Instone Real Estate Group AG,Immobilien,May 2020,1,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung im Bereich Fin...,Empfohlen,Overall,4.9,Top Arbeitgeber mit vielen Benefiz Trans...,5,4,5,5,5,NA,NA,NA,5,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.392857,0.0357143,0.0357143,0.0357143,2020,"Erlangen, Bayern"
2,Instone Real Estate Group AG,Immobilien,May 2020,2,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Rec...,Empfohlen,Overall,4.9,Vorbildlicher Arbeitgeber Nur die Mülltre...,5,5,5,5,4,NA,NA,NA,5,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.392857,0.0357143,0.0357143,0.0357143,2020,"Essen, Niedersachsen"
3,Instone Real Estate Group AG,Immobilien,May 2020,3,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Adm...,Empfohlen,Overall,4.5,Wenn Transparenz und Wertschätzung aufeinande...,5,5,,5,,NA,NA,NA,4,0.14189,0,0,0,0,0,0.337175,0,0.141891,0,0,0,0,0.141893,0,0,0.0817442,0.0743245,2020,"Köln, Nordrhein-Westfalen"
4,Instone Real Estate Group AG,Immobilien,October 2019,4,Ex-Angestellte/r oder Arbeiter/in,Hat im Bereich Personal / Aus- und Weiterbildu...,Nicht empfohlen,Overall,3.2,Anspruch und Wirklichkeit klaffen auseinander...,3,3,3,4,2,NA,NA,NA,3,0,0.224638,0,0,0,0,0,0,0,0.224632,0.0867504,0.290055,0,0,0,0,0.0797098,0,2019,"Essen, Niedersachsen"
5,Instone Real Estate Group AG,Immobilien,October 2019,5,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.8,Toller Arbeitgeber Tolle Truppe Auch bei lä...,5,5,5,5,5,NA,NA,NA,4,0.0113637,0.0113637,0.0113637,0.193402,0.0113637,0.35226,0.0113637,0.0113677,0.0113637,0.0113637,0.0113646,0.0113701,0.0113637,0.0113637,0.170235,0.124999,0.0113637,0.0113647,2019,"Essen, Niedersachsen"
6,Instone Real Estate Group AG,Immobilien,September 2019,6,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Bes...,Empfohlen,Overall,4.6,Glücksfall - vom Konzern zum Mittelstand! Ang...,5,4,4,5,5,NA,NA,NA,5,0,0,0,0.101852,0,0,0,0.101847,0.189491,0.291986,0,0,0,0,0,0,0.194444,0,2019,"Essen, Niedersachsen"
7,Instone Real Estate Group AG,Immobilien,August 2019,8,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.5,100% Zufriedenheit Neue sinnvolle Wege zum Zi...,5,5,4,5,3,NA,NA,NA,5,0,0,0,0.101856,0,0,0.28705,0,0,0,0,0.101854,0.1944,0,0,0.101856,0.101855,0,2019,"Berlin, Berlin"
8,Instone Real Estate Group AG,Immobilien,July 2019,9,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.5,Toller Arbeitgeber! Perfekte Mischung aus Spa...,5,4,4,5,5,NA,NA,NA,5,0.0147156,0.014706,0.014706,0.0147116,0.014706,0.014706,0.014706,0.0147097,0.014706,0.308807,0.014706,0.014706,0.014706,0.014706,0.455879,0.014706,0.014706,0.014706,2019,"Essen, Niedersachsen"
9,Instone Real Estate Group AG,Immobilien,July 2019,1,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung im Bereich Ges...,Empfohlen,Overall,4.8,"Tolles Team, super Arbeitsbedingungen, viel V...",5,5,5,5,4,NA,NA,NA,4,0,0,0,0.344595,0.0743243,0,0,0,0,0,0,0.25965,0.0746068,0,0,0,0,0.158979,2019,"Stuttgart, Baden-Württemberg"
10,Instone Real Estate Group AG,Immobilien,May 2019,2,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.3,"Super, tolle Firma und alles andere als abgeh...",4,4,5,5,,NA,NA,NA,4,0.0172414,0.0172414,0.0172414,0.189653,0.0172414,0.189655,0.0172414,0.0172414,0.0172414,0.0172414,0.0172414,0.0172429,0.0172414,0.0172414,0.0172438,0.189653,0.0172414,0.189656,2019,"Leipzig, Sachsen"

In [60]:
unpickled_df['workAtmos_cumul'] = unpickled_df['topic2'] + unpickled_df['topic16']+unpickled_df['topic17']

In [61]:
unpickled_df.head(10)

,Org,OrgSector,RverMonthYear,RverReviewer,RverPosition,RverLoc,RverRecom,RvReviewAbout,RvScore,RvComment,RvScoreWorkAtmosphere,RvScoreCohesionAmongColleagues,RvScoreEqualRights,RvScoreDealingWithOlderColleagues,RvScoreEnvironmentalSocialAwareness,Corona1,Corona2,Corona3,RvScoreWorkLifeBalance,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,topic16,topic17,forTSNEYear,forTSNECity,workAtmos_cumul
1,Instone Real Estate Group AG,Immobilien,May 2020,1,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung im Bereich Fin...,Empfohlen,Overall,4.9,Top Arbeitgeber mit vielen Benefiz Trans...,5,4,5,5,5,NA,NA,NA,5,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.392857,0.0357143,0.0357143,0.0357143,2020,"Erlangen, Bayern",0.107143
2,Instone Real Estate Group AG,Immobilien,May 2020,2,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Rec...,Empfohlen,Overall,4.9,Vorbildlicher Arbeitgeber Nur die Mülltre...,5,5,5,5,4,NA,NA,NA,5,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.392857,0.0357143,0.0357143,0.0357143,2020,"Essen, Niedersachsen",0.107143
3,Instone Real Estate Group AG,Immobilien,May 2020,3,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Adm...,Empfohlen,Overall,4.5,Wenn Transparenz und Wertschätzung aufeinande...,5,5,,5,,NA,NA,NA,4,0.14189,0,0,0,0,0,0.337175,0,0.141891,0,0,0,0,0.141893,0,0,0.0817442,0.0743245,2020,"Köln, Nordrhein-Westfalen",0.156069
4,Instone Real Estate Group AG,Immobilien,October 2019,4,Ex-Angestellte/r oder Arbeiter/in,Hat im Bereich Personal / Aus- und Weiterbildu...,Nicht empfohlen,Overall,3.2,Anspruch und Wirklichkeit klaffen auseinander...,3,3,3,4,2,NA,NA,NA,3,0,0.224638,0,0,0,0,0,0,0,0.224632,0.0867504,0.290055,0,0,0,0,0.0797098,0,2019,"Essen, Niedersachsen",0.0797098
5,Instone Real Estate Group AG,Immobilien,October 2019,5,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.8,Toller Arbeitgeber Tolle Truppe Auch bei lä...,5,5,5,5,5,NA,NA,NA,4,0.0113637,0.0113637,0.0113637,0.193402,0.0113637,0.35226,0.0113637,0.0113677,0.0113637,0.0113637,0.0113646,0.0113701,0.0113637,0.0113637,0.170235,0.124999,0.0113637,0.0113647,2019,"Essen, Niedersachsen",0.0340921
6,Instone Real Estate Group AG,Immobilien,September 2019,6,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Bes...,Empfohlen,Overall,4.6,Glücksfall - vom Konzern zum Mittelstand! Ang...,5,4,4,5,5,NA,NA,NA,5,0,0,0,0.101852,0,0,0,0.101847,0.189491,0.291986,0,0,0,0,0,0,0.194444,0,2019,"Essen, Niedersachsen",0.194444
7,Instone Real Estate Group AG,Immobilien,August 2019,8,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.5,100% Zufriedenheit Neue sinnvolle Wege zum Zi...,5,5,4,5,3,NA,NA,NA,5,0,0,0,0.101856,0,0,0.28705,0,0,0,0,0.101854,0.1944,0,0,0.101856,0.101855,0,2019,"Berlin, Berlin",0.101855
8,Instone Real Estate Group AG,Immobilien,July 2019,9,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.5,Toller Arbeitgeber! Perfekte Mischung aus Spa...,5,4,4,5,5,NA,NA,NA,5,0.0147156,0.014706,0.014706,0.0147116,0.014706,0.014706,0.014706,0.0147097,0.014706,0.308807,0.014706,0.014706,0.014706,0.014706,0.455879,0.014706,0.014706,0.014706,2019,"Essen, Niedersachsen",0.0441179
9,Instone Real Estate Group AG,Immobilien,July 2019,1,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung im Bereich Ges...,Empfohlen,Overall,4.8,"Tolles Team, super Arbeitsbedingungen, viel V...",5,5,5,5,4,NA,NA,NA,4,0,0,0,0.344595,0.0743243,0,0,0,0,0,0,0.25965,0.0746068,0,0,0,0,0.158979,2019,"Stuttgart, Baden-Württemberg",0.158979
10,Instone Real Estate Group AG,Immobilien,May 2019,2,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.3,"Super, tolle Firma und alles andere als abgeh...",4,4,5,5,,NA,NA,NA,4,0.0172414,0.0172414,0.0172414,0.189653,0.0172414,0.189655,0.0172414,0.0172414,0.0172414,0.0172414,0.0172414,0.0172429,0.0172414,0.0172414,0.0172438,0.189653,0.0172414,0.189656,2019,"Leipzig, Sachsen",0.224138

In [62]:
df_new = unpickled_df[['topic0','topic1','topic2','topic3','topic4','topic5','topic6','topic7','topic8','topic9','topic10','topic11','topic12','topic13','topic14','topic15','topic16','topic17','workAtmos_cumul']]

In [63]:
df_new.head(3)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,topic16,topic17,workAtmos_cumul
1,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.392857,0.0357143,0.0357143,0.0357143,0.107143
2,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.0357143,0.392857,0.0357143,0.0357143,0.0357143,0.107143
3,0.14189,0,0,0,0,0,0.337175,0,0.141891,0,0,0,0,0.141893,0,0,0.0817442,0.0743245,0.156069

In [64]:
df_new = df_new.astype(float)
df_new.head(2)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,topic16,topic17,workAtmos_cumul
1,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143
2,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143

In [65]:
df_new['max_score'] = df_new.idxmax(axis=1)

In [66]:
df_new['max_score'].value_counts()

workAtmos_cumul    4620
topic14            2071
topic0             1836
topic5             1555
topic11            1539
topic7             1318
topic4             1220
topic15             984
topic10             917
topic3              895
topic6              883
topic8              739
topic1              738
topic13             616
topic12             587
topic9              367
topic16              65
topic17              33
topic2               14
Name: max_score, dtype: int64

In [67]:
df_new2=df_new

In [68]:
df_new2.drop(columns=['max_score'], inplace=True)

In [69]:
df_new2

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,topic16,topic17,workAtmos_cumul
1,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143
2,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143
3,0.141890,0.000000,0.000000,0.000000,0.000000,0.000000,0.337175,0.000000,0.141891,0.000000,0.000000,0.000000,0.000000,0.141893,0.000000,0.000000,0.081744,0.074325,0.156069
4,0.000000,0.224638,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.224632,0.086750,0.290055,0.000000,0.000000,0.000000,0.000000,0.079710,0.000000,0.079710
5,0.011364,0.011364,0.011364,0.193402,0.011364,0.352260,0.011364,0.011368,0.011364,0.011364,0.011365,0.011370,0.011364,0.011364,0.170235,0.124999,0.011364,0.011365,0.034092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20993,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.289474,0.026316,0.026316,0.289473,0.342105
20994,0.017241,0.017241,0.017241,0.017241,0.017241,0.017244,0.017241,0.017246,0.017241,0.017241,0.017242,0.299733,0.017241,0.017241,0.017241,0.017241,0.017241,0.424396,0.458879
20995,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392856,0.035714,0.035714,0.035714,0.035714,0.035714,0.107143
20996,0.026316,0.026316,0.289473,0.289474,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.026316,0.342105
20997,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143

In [70]:
df_new2 = df_new2.astype(float)
df_new2['max_score'] = df_new2.idxmax(axis=1)

In [71]:
df_new2.head(2)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,topic16,topic17,workAtmos_cumul,max_score
1,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143,topic14
2,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143,topic14

In [72]:
df_new2['max_score'].value_counts()

workAtmos_cumul    4620
topic14            2071
topic0             1836
topic5             1555
topic11            1539
topic7             1318
topic4             1220
topic15             984
topic10             917
topic3              895
topic6              883
topic8              739
topic1              738
topic13             616
topic12             587
topic9              367
topic16              65
topic17              33
topic2               14
Name: max_score, dtype: int64

In [73]:

# df3 for average
df3 = df_new
df3.head(2)
df_new.head(2)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15,topic16,topic17,workAtmos_cumul
1,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143
2,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.035714,0.392857,0.035714,0.035714,0.035714,0.107143

In [74]:
df3['workAtmos_avg'] = (df3['topic2'] + df3['topic16']+df3['topic17'])/3

In [76]:
df3.drop(columns=['workAtmos_cumul'], inplace=True)

In [77]:
df3.drop(columns=['topic2','topic16','topic17'], inplace=True)

In [78]:
df3['workAtmos_avg'] = df3.idxmax(axis=1)

In [79]:
df3['workAtmos_avg'].value_counts()

topic14          2649
topic0           2564
topic5           1792
topic11          1669
topic7           1620
topic4           1474
topic3           1285
topic15          1182
topic10          1038
topic6            992
topic1            978
workAtmos_avg     941
topic8            940
topic12           706
topic13           703
topic9            464
Name: workAtmos_avg, dtype: int64

In [6]:
unpickled_df.columns

RangeIndex(start=0, stop=32, step=1)

In [7]:
# rename columns to header (first row in dataframe)
new_columns=unpickled_df.loc[0]

In [8]:
new_columns

0               Org
1         OrgSector
2     RverMonthYear
3      RverReviewer
4      RverPosition
5           RverLoc
6         RverRecom
7     RvReviewAbout
8           RvScore
9         RvComment
10           topic0
11           topic1
12           topic2
13           topic3
14           topic4
15           topic5
16           topic6
17           topic7
18           topic8
19           topic9
20          topic10
21          topic11
22          topic12
23          topic13
24          topic14
25          topic15
26          topic16
27          topic17
28          topic18
29          topic19
30          topic20
31          topic21
Name: 0, dtype: object

In [9]:
unpickled_df.columns = new_columns

In [10]:
unpickled_df = unpickled_df[1:]

In [11]:
unpickled_df['RvComment'][1]

' Top Arbeitgeber mit vielen Benefiz      Transparente und regelmäßige Infos und Austausch mit dem Vorstand   '

In [12]:
serLen = unpickled_df['RvComment'].size

In [13]:
serLen

20997

In [19]:
sentiment_df=pd.read_pickle('sentiment_score_reviews.data')

In [20]:
sentiment_df['summation']= sentiment_df['score']*sentiment_df['topic21']+sentiment_df['score']*sentiment_df['topic20']

In [25]:
sentiment_df.head(2)

,Org,OrgSector,RverMonthYear,RverReviewer,RverPosition,RverLoc,RverRecom,RvReviewAbout,RvScore,RvComment,...,topic14,topic15,topic16,topic17,topic18,topic19,topic20,topic21,score,summation
1,Instone Real Estate Group AG,Immobilien,May 2020,1,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung im Bereich Fin...,Empfohlen,Overall,4.9,Top Arbeitgeber mit vielen Benefiz Trans...,...,0.34375,0.03125,0.03125,0.03125,0.03125,0.03125,0.03125,0.03125,0.3266,0.0204125

In [23]:
summat=0
average_var = 0
for i in range(0, 22):
    col_name='topic'+str(i)
    sum0=sentiment_df['score']*sentiment_df[col_name]
    summat=summat+sum0
    print('sum0', sum0)
    
print(summat)

sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.112269
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
sum0 1    0.0102063
dtype: object
1    0.3266
dtype: object

In [18]:
col_name=[]
for i in range(0, 23):
    col_name.append('topic'+str(i))
print("'",col_name,"',")

' ['topic0', 'topic1', 'topic2', 'topic3', 'topic4', 'topic5', 'topic6', 'topic7', 'topic8', 'topic9', 'topic10', 'topic11', 'topic12', 'topic13', 'topic14', 'topic15', 'topic16', 'topic17', 'topic18', 'topic19', 'topic20', 'topic21', 'topic22'] ',

In [35]:
u = sentiment_df.iloc[10:31]
v = sentiment_df[['score']]

In [36]:
u

Empty DataFrame
Columns: [Org, OrgSector, RverMonthYear, RverReviewer, RverPosition, RverLoc, RverRecom, RvReviewAbout, RvScore, RvComment, topic0, topic1, topic2, topic3, topic4, topic5, topic6, topic7, topic8, topic9, topic10, topic11, topic12, topic13, topic14, topic15, topic16, topic17, topic18, topic19, topic20, topic21, score, summation]
Index: []

[0 rows x 34 columns]