In [5]:
import pandas as pd
pd.options.mode.chained_assignment = None 
import numpy as np
import re
import nltk
import seaborn as sns
#from gensim.models import word2vec
from tqdm import tqdm
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt


import pickle

pickle_file = open("C:\\Users\\snigd\\FINAL_Dataset2_Pickle.data",'rb')
##--LDA File
## forTSNE_Data_Cleaned_08092020_083631.df
##forTSNE_Data_Cleaned_07092020_113759.df
##--Sentiment file
##FINAL_Dataset1_Pickle.data 
##FINAL_Dataset2_Pickle.data

pickle_data = pickle.load(pickle_file)
df = pd.DataFrame(pickle_data)

In [6]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\snigd\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [7]:
df.head(5)

,Org,OrgSector,RverMonthYear,RverReviewer,RverPosition,RverLoc,RverRecom,RvReviewAbout,RvScore,RvComment,...,topicXmaxboolXcss10,topicXmaxboolXcss11,topicXmaxboolXcss13,topicXmaxboolXcss14,topicXmaxboolXcss15,topicXmaxboolXcss16,topicXmaxboolXcss17,topicXmaxboolXcss18,topicXmaxboolXcss19,topicXmaxboolXcss21
1,Instone Real Estate Group AG,Immobilien,May 2020,3,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Adm...,Empfohlen,Overall,4.5,Wenn Transparenz und Wertschätzung aufeinande...,...,0,0,0,0,0,0,0,0,0,0
2,Instone Real Estate Group AG,Immobilien,October 2019,4,Ex-Angestellte/r oder Arbeiter/in,Hat im Bereich Personal / Aus- und Weiterbildu...,Nicht empfohlen,Overall,3.2,Anspruch und Wirklichkeit klaffen auseinander...,...,0.0684369,0,0,0,0,0,0,0,0,0
3,Instone Real Estate Group AG,Immobilien,October 2019,5,Führungskraft / Management,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.8,Toller Arbeitgeber Tolle Truppe Auch bei lä...,...,0.0468174,0,0,0,0,0,0,0,0,0
4,Instone Real Estate Group AG,Immobilien,September 2019,6,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung im Bereich Bes...,Empfohlen,Overall,4.6,Glücksfall - vom Konzern zum Mittelstand! Ang...,...,0,0,0,0,0,0,0,0,0,0
5,Instone Real Estate Group AG,Immobilien,August 2019,8,Angestellte/r oder Arbeiter/in,Hat zum Zeitpunkt der Bewertung bei Instone Re...,Empfohlen,Overall,4.5,100% Zufriedenheit Neue sinnvolle Wege zum Zi...,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.OrgSector.unique()

array(['Immobilien', 'Elektro/Elektronik', 'Sonstige Branchen',
       'Maschinenbau', 'Handel', 'Internet', 'Medizin/Pharma', 'IT',
       'Automobil', 'Industrie', 'Dienstleistung', 'Energie',
       'Marketing/Werbung/PR', 'Nahrungsmittel/Landwirtschaft', 'Chemie',
       'Finanz', 'Banken', 'Transport/Verkehr/Logistik',
       'Telekommunikation', 'Bau/Architektur', 'Versicherung',
       'Kunst/Kultur', 'Textil', ' Immobilien', 'Medien',
       'Personalwesen & -beschaffung', ' Industrie', 'Sport/Beauty',
       'Druck/Verpackung', 'Medizintechnik', 'Forschung/Entwicklung',
       'Beratung/Consulting'], dtype=object)

In [9]:
conditions = [
    (df['score101'] > 0), (df['score101'] < 0), (df['score101'] ==0)]
choices = ['Positive', 'Negative', 'Neutral']
df['ForTSNEScore101'] = np.select(conditions, choices, default='NaN')

In [10]:
conditions = [(df["OrgSector"] == 'Immobilien'),
              (df["OrgSector"] == 'Elektro/Elektronik'),
              (df["OrgSector"] == 'Sonstige Branchen'),
              (df["OrgSector"] == 'Maschinenbau'),
              (df["OrgSector"] == 'Handel'),
              (df["OrgSector"] == 'Internet'),
              (df["OrgSector"] == 'Medizin/Pharma'),
              (df["OrgSector"] == 'IT'),
              (df["OrgSector"] == 'Automobil'),
              (df["OrgSector"] == 'Industrie'),
              (df["OrgSector"] == 'Dienstleistung'),
              (df["OrgSector"] == 'Energie'),
              (df["OrgSector"] == 'Marketing/Werbung/PR'),
              (df["OrgSector"] == 'Nahrungsmittel/Landwirtschaft'),              
              (df["OrgSector"] == 'Chemie'),
              (df["OrgSector"] == 'Finanz'),
              (df["OrgSector"] == 'Banken'),
              (df["OrgSector"] == 'Transport/Verkehr/Logistik'),
              (df["OrgSector"] == 'Telekommunikation'),
              (df["OrgSector"] == 'Bau/Architektur'),
              (df["OrgSector"] == 'Versicherung'),
              (df["OrgSector"] == 'Kunst/Kultur'),
              (df["OrgSector"] == 'Textil'),
              (df["OrgSector"] == ' Immobilien'),
              (df["OrgSector"] == 'Medien'),
              (df["OrgSector"] == 'Personalwesen & -beschaffung'),
              (df["OrgSector"] == ' Industrie'),
              (df["OrgSector"] == 'Sport/Beauty'),
              (df["OrgSector"] == 'Druck/Verpackung'),
              (df["OrgSector"] == 'Medizintechnik'),
              (df["OrgSector"] == 'Forschung/Entwicklung'),
              (df["OrgSector"] == 'Beratung/Consulting')
              ]
choices_NewOrgSector = ['Finance, Insurance, Real Estate', 'Manufacturing', 'Others', 'Manufacturing', 'Retail Trade',
                        'Services','Manufacturing','Manufacturing','Manufacturing','Manufacturing','Services',
                        'Transportation & Public Utilities','Services','Agriculture, Forestry, Fishing','Manufacturing',
                        'Finance, Insurance, Real Estate','Finance, Insurance, Real Estate','Transportation & Public Utilities',
                        'Transportation & Public Utilities','Construction','Finance, Insurance, Real Estate','Services',
                        'Manufacturing','Finance, Insurance, Real Estate','Services','Services','Manufacturing',
                        'Services','Manufacturing','Manufacturing','Services','Services']
df["NewOrgSector"] = np.select(conditions, choices_NewOrgSector, default='NaN')

In [11]:
df['forTSNECity'].value_counts()

München, Bayern                    764
NA                                 649
Berlin, Berlin                     553
Hamburg, Hamburg                   338
Frankfurt, Brandenburg             329
                                  ...
Neuwied, Rheinland-Pfalz             1
Wittmund, Niedersachsen              1
Herbolzheim, Baden-Württemberg       1
Burghaun, Hessen                     1
Schwetzingen, Baden-Württemberg      1
Name: forTSNECity, Length: 315, dtype: int64

In [12]:
df.loc[((df.forTSNECity == 'NA')), 'forTSNECity'] = 'NA,NA'

In [13]:
def Tsne_State(location):
    #location = 'Essen, Niedersachsen'
    locationAsList = location.split(",")
    return locationAsList[1].strip()

df['forTSNEState'] = df['forTSNECity'].apply(Tsne_State)

In [14]:
df.shape

(7062, 88)

In [15]:
df.columns

Index(['Org', 'OrgSector', 'RverMonthYear', 'RverReviewer', 'RverPosition',
       'RverLoc', 'RverRecom', 'RvReviewAbout', 'RvScore', 'RvComment',
       'RvScoreWorkAtmosphere', 'RvScoreCohesionAmongColleagues',
       'RvScoreEqualRights', 'RvScoreDealingWithOlderColleagues',
       'RvScoreEnvironmentalSocialAwareness', 'Corona1', 'Corona2', 'Corona3',
       'RvScoreWorkLifeBalance', 'topic0', 'topic1', 'topic2', 'topic3',
       'topic4', 'topic5', 'topic6', 'topic7', 'topic8', 'topic9', 'topic10',
       'topic11', 'topic12', 'topic13', 'topic14', 'topic15', 'topic16',
       'topic17', 'topic18', 'topic19', 'topic20', 'topic21', 'topic22',
       'forTSNEYear', 'forTSNECity', 'topic0_max', 'topic1_max', 'topic2_max',
       'topic3_max', 'topic4_max', 'topic5_max', 'topic6_max', 'topic7_max',
       'topic8_max', 'topic9_max', 'topic10_max', 'topic11_max', 'topic13_max',
       'topic14_max', 'topic15_max', 'topic16_max', 'topic17_max',
       'topic18_max', 'topic19_max', 'topic21_max', 'score101',
       'topicXmaxboolXcss0', 'topicXmaxboolXcss1', 'topicXmaxboolXcss2',
       'topicXmaxboolXcss3', 'topicXmaxboolXcss4', 'topicXmaxboolXcss5',
       'topicXmaxboolXcss6', 'topicXmaxboolXcss7', 'topicXmaxboolXcss8',
       'topicXmaxboolXcss9', 'topicXmaxboolXcss10', 'topicXmaxboolXcss11',
       'topicXmaxboolXcss13', 'topicXmaxboolXcss14', 'topicXmaxboolXcss15',
       'topicXmaxboolXcss16', 'topicXmaxboolXcss17', 'topicXmaxboolXcss18',
       'topicXmaxboolXcss19', 'topicXmaxboolXcss21', 'ForTSNEScore101',
       'NewOrgSector', 'forTSNEState'],
      dtype='object', name=0)

In [16]:
df.describe(include = 'all' )

,Org,OrgSector,RverMonthYear,RverReviewer,RverPosition,RverLoc,RverRecom,RvReviewAbout,RvScore,RvComment,...,topicXmaxboolXcss14,topicXmaxboolXcss15,topicXmaxboolXcss16,topicXmaxboolXcss17,topicXmaxboolXcss18,topicXmaxboolXcss19,topicXmaxboolXcss21,ForTSNEScore101,NewOrgSector,forTSNEState
count,7062,7062,7062,7062,7062,7062,7062,7062,7062,7062,...,7062.0,7062.0,7062.0,7062.0,7062.0,7062.0,7062.0,7062,7062,7062
unique,141,32,118,10,14,4966,3,1,41,6716,...,130.0,273.0,244.0,564.0,216.0,331.0,89.0,3,8,17
top,Deutsche Post AG,Industrie,May 2020,4,Angestellte/r oder Arbeiter/in,,Empfohlen,Overall,4.5,Ich bin zufrieden mit der umgebung und der la...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Positive,Manufacturing,Bayern
freq,342,1078,462,789,4094,27,3497,7062,457,4,...,6931.0,6786.0,6812.0,6485.0,6843.0,6729.0,6970.0,4635,3704,1607
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_1 = df[['topic0', 'topic1', 'topic2', 'topic3', 'topic4', 'topic5','topic6','topic7','topic8','topic9','topic10','topic11','topic13','topic14','topic15','topic16','topic17','topic18','topic19','topic21'
          ]] ##Eliminate topic12, topic20, topic22
df_1.head(5)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic13,topic14,topic15,topic16,topic17,topic18,topic19,topic21
1,0,0.0719539,0,0,0,0,0,0.227733,0.0718945,0,0,0,0,0,0,0.112077,0.137255,0,0.0718944,0
2,0,0,0.111966,0,0,0,0.0791194,0,0.0769237,0.0865086,0.279106,0,0,0.0766401,0,0,0,0,0.177839,0
3,0.0107534,0.010753,0.0107565,0.225807,0.0107529,0.11828,0.0107529,0.0107527,0.0107542,0.010755,0.440842,0.0107528,0.0107536,0.0107528,0.0107527,0.0107555,0.0107544,0.0107529,0.0107528,0.0107527
4,0,0,0.279318,0,0,0,0,0,0,0.173298,0,0.100221,0,0.102011,0.185833,0,0,0,0,0
5,0,0,0,0.0973803,0,0,0,0.27464,0,0,0.0973374,0.185531,0,0,0.0973077,0,0,0,0,0

In [18]:
df_1.columns

Index(['topic0', 'topic1', 'topic2', 'topic3', 'topic4', 'topic5', 'topic6',
       'topic7', 'topic8', 'topic9', 'topic10', 'topic11', 'topic13',
       'topic14', 'topic15', 'topic16', 'topic17', 'topic18', 'topic19',
       'topic21'],
      dtype='object', name=0)

In [19]:
for i in range(0, 23):
    if i in [12, 20, 22]:
        continue
    col_name = 'topic' + str(i)
    df_1[col_name] = df_1[col_name].astype(float)
    
    
df_1.dtypes

0
topic0     float64
topic1     float64
topic2     float64
topic3     float64
topic4     float64
topic5     float64
topic6     float64
topic7     float64
topic8     float64
topic9     float64
topic10    float64
topic11    float64
topic13    float64
topic14    float64
topic15    float64
topic16    float64
topic17    float64
topic18    float64
topic19    float64
topic21    float64
dtype: object

In [20]:
result = df_1.to_numpy() 
result

array([[0.        , 0.07195388, 0.        , ..., 0.        , 0.07189436,
        0.        ],
       [0.        , 0.        , 0.11196589, ..., 0.        , 0.17783938,
        0.        ],
       [0.01075339, 0.01075303, 0.01075646, ..., 0.01075288, 0.01075284,
        0.01075272],
       ...,
       [0.29896811, 0.        , 0.        , ..., 0.        , 0.06144007,
        0.        ],
       [0.        , 0.        , 0.44754827, ..., 0.        , 0.        ,
        0.0769219 ],
       [0.01587405, 0.01587353, 0.01587307, ..., 0.01587331, 0.01587324,
        0.01587307]])

In [21]:
display(result.shape)

(7062, 20)

In [ ]:
from sklearn.manifold import TSNE
tsne_model = TSNE(n_components=2, perplexity=70, learning_rate=600, n_iter=2000, verbose=1, random_state=7, angle=.5, init='pca')
# 18-D -> 2-D #22-D -> 2-D
tsne_lda = tsne_model.fit_transform(result) # result is document-topic matrix from LDA

[t-SNE] Computing 211 nearest neighbors...
[t-SNE] Indexed 7062 samples in 0.219s...
[t-SNE] Computed neighbors for 7062 samples in 5.102s...
[t-SNE] Computed conditional probabilities for sample 1000 / 7062
[t-SNE] Computed conditional probabilities for sample 2000 / 7062
[t-SNE] Computed conditional probabilities for sample 3000 / 7062
[t-SNE] Computed conditional probabilities for sample 4000 / 7062
[t-SNE] Computed conditional probabilities for sample 5000 / 7062
[t-SNE] Computed conditional probabilities for sample 6000 / 7062
[t-SNE] Computed conditional probabilities for sample 7000 / 7062
[t-SNE] Computed conditional probabilities for sample 7062 / 7062
[t-SNE] Mean sigma: 0.099806
[t-SNE] KL divergence after 250 iterations with early exaggeration: 80.745827

In [ ]:
#tsne_docXtopic.dtype
#tsne_docXtopic_dataframe = pd.DataFrame(tsne_docXtopic)
tsne_topic_dataframe = pd.DataFrame(tsne_lda)
#--------tsne_topic_dataframe['OrgSector'] = df['OrgSector']
#tsne_topic_dataframe['OrgSector'] = pd['OrgSector']
#tsne_docXtopic_dataframe
#tsne_topic_dataframe.shape
df_copy = df

In [ ]:
tsne_topic_dataframe.shape

In [ ]:
tsne_topic_dataframe.head(3)

In [ ]:
tsne_topic_dataframe_copy = tsne_topic_dataframe.copy()
#tsne_topic_dataframe.shape
#tsne_topic_dataframe.tail(2)
#top_row = pd.DataFrame({0:['delete'],1:['delete2']})
#top_row
#tsne_topic_dataframe_copy = pd.concat([top_row, tsne_topic_dataframe_copy]).reset_index(drop = True)
tsne_topic_dataframe_copy

In [ ]:
df_copy.head(2)
#df_copy.shape
df_copy.tail(2)

In [ ]:
tsne_topic_dataframe_copy[0].head(3)

In [ ]:
tsne_topic_dataframe_copy[1].head(3)

In [ ]:
df_copy['x_axis']=tsne_topic_dataframe_copy[0]
df_copy['y_axis']=tsne_topic_dataframe_copy[1]

In [ ]:
# reviews and ForTSNEScore101
plt.figure(figsize=(16,10))

colors = ["#ead844", "#6e0a87", "#d9722e", "#97cae4", "#b92138", "#c3c484", "#808281", "#61ae4b", "#cf7eb2", "#476bb5", "#dd8969", "#481191", "#dcab35", "#92008c", "#e6f55e", "#7d1a13", "#93b841", "#6e3715", "#d0322a", "#2b3919"]
colors2 = colors[:df_copy['ForTSNEScore101'].nunique()]

sns.scatterplot(
    x='x_axis', y='y_axis',
    hue=df_copy['ForTSNEScore101'],
    data=df_copy[['x_axis','y_axis']],
    legend="full",
    alpha=0.9,
    #palette= sns.color_palette('magma',df_copy['forTSNEYear'].nunique())
    palette= sns.color_palette(colors2)
    
)
#sns.palplot(sns.color_palette("RdBu", 10))